<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>CRUD Database</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
<body>
    <div class="references">
        <a class="register-ref" href="/register">Register user</a>
        <a class="users-ref" href="/users">Check the database</a>
        <a class="users-delete-ref" href="users_delete.html">Delete user</a>
        <a class="users-update-ref" href="users_update.html">Update user</a>
        <a class="users-get-ref" href="users_get.html">Get user</a>
    </div>
    <div class="text">
        <h1><b>Home Page</b></h1>
            <pre>Here's your website to operate with database!
From here you can go on with any of the links and
perform such operations as:
            </pre>
        <ul>
            <li><pre>Get information from database</pre></li>
            <li><pre>Add users to database</pre></li>
            <li><pre>Delete users from database</pre></li>
            <li><pre>Update information about the users</pre></li>
        </ul>
        <pre><b>Hope you'll have a good experience!</b></pre>
    </div>
</body>
</html>